body {
    width: 936px;
    margin: auto;
}

.main {
    background: crimson;
    text-align: center;
    border-radius: 10px;
}

.main p {
    font-weight: bold;
    font-size: 25px;
}

nav {
    background: teal;
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 15%;
    height: 60px;
    border-radius: 10px;
    display: inline-flex;
}

.select {
    visibility: hidden;
    display: none;
}

.contenedor {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-end;
    
}

h2 {
    margin-left: 10px;
}
.h2 {
    margin-left: 10px;
}

h3 {
    margin-left: 10px;
}
.h3 {
    margin-left: 10px;
}

h4 {
    margin-left: 10px;
    font-size: 20px;
}
.h4 {
    margin-left: 10px;
}

.flex1 {
    background: orange;
    display: inline-block;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    margin-bottom: 0;
    height: 200px;
    color: hsl(0, 33%, 96%);
}

.flex2 {
    background: rgb(38, 64, 212);
    display: inline-block;
    width: 32%;
    border-radius: 10px;
    height: 180px;
    color: hsl(0, 33%, 96%);
}

.flex3 {
    background: chartreuse;
    display: inline-block;
    width: 32%;
    border-radius: 10px;
    color: white;
}

.footer {
    background: rgba(129, 125, 125, 0.637);
    border-radius: 10px;
    color: hsl(0, 12%, 5%);
    font-weight: bold;
}



@media (max-width: 600px) {
    body {
        background: white;
        width: 600px;
    }

    .main {
        color: #000000; 
        width: 95%;
        height: 137px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    h1 {
        text-align: left;
    }

    .main p {
        text-align: left;
        font-size: 25px; 
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .select {
        background: teal;   
        display: inline-block;
        width: 95%;
        height: 25px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 5px;
        visibility: visible;
    }

    .select select {
        margin-top: 2px;
        margin-left: 2px;
        width: 110px;
    }

    option {
        font-weight: bold;
    }

    nav {
        visibility: hidden;
        display: none;
    }

    .flex1 {
        color: black;  
        width: 95%;
        height: 160px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        
    }

    .flex2 {
        width: 95%;
        height: 120px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
       
    }

    .flex3 {
        color: black;
        font-size: 20px;
        width: 95%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .footer {
        width: 95%;
        height: 50px;
        margin-bottom: 35px;
        margin-left: 15px;
        margin-right: 15px;     
    }
  
}